node_modules
**/node_modules
dist
**/dist
build
**/build
coverage
**/coverage
.vite

.git
.gitattributes
.github

.claude
.project

.husky

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.vscode
.idea

**/*.test.ts
**/test-setup.ts

.dockerignore
Dockerfile
fly.toml
